
.navbar {
  background-color: #2D2D2D;
  color: #fff;
  padding: 10px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 30px;
  transition: transform 0.3s, opacity 0.3s; 
}

.navbar-visible {
  transform: translateY(0);
  opacity: 1;
}

.navbar-hidden {
  transform: translateY(-100%); 
  opacity: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-title {
  text-decoration: none; 
  color: inherit; 
}

.link-title h1 {
  margin: 0;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
    font-size: 20px;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-toggle {
    display: flex;
  }
}

@media (max-width: 480px) {
  .navbar {
    font-size: 24px;
  }

  .navbar-menu {
    font-size: 18px; 
  }
}