.footer {
  color: #2D2D2D;
  padding: 25px 0px;
  text-align: center;
  position: relative;
  width: 100%; 
  font-size: 24px;
  box-sizing: border-box; 
}

.footer p {
  margin: 0; 
}

.footer p a {
  color: #2D2D2D;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer {
    font-size: 18px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .footer {
    font-size: 14px;
    padding: 10px 0; 
  }
}
